header.masthead {
	position: relative;
	width: 100%;
	min-height: 100%;
	text-align: center;
	color: white;
	background-image: url("/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header.masthead .header-content {
	position: relative;
	width: 100%;
	padding: 150px 15px 100px;
	text-align: center; 
	text-shadow: 2px 2px 14px #000000;
}
header.masthead .header-content .header-content-inner h1 {
	font-size: 30px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase; 
	text-shadow: 2px 2px 14px #000000;
}
header.masthead .header-content .header-content-inner hr {
	margin: 30px auto; 
}
header.masthead .header-content .header-content-inner p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 50px;
	color: rgba(255, 255, 255, 0.7); 
	text-shadow: 2px 2px 14px #000000;
}
header h1 {
	text-shadow: 2px 2px 14px #000000;
}
@media (min-width: 768px) {
	header.masthead {
		height: 100%;
		min-height: 600px; 
	}
	header.masthead .header-content {
		position: absolute;
		top: 50%;
		padding: 0 50px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%); 
	}
	header.masthead .header-content .header-content-inner {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto; 
	}
	header.masthead .header-content .header-content-inner h1 {
		font-size: 50px; 
	}
	header.masthead .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-right: auto;
		margin-left: auto; 
	} 
}
.right {
	padding: 15px;
}

.my-alert-center-style {
	position: fixed;
	z-index: 1000000;
	margin: 20px 20px 20px 20px;
}