
<div>

  <div class="my-alert-center-style">
        <nac-alert-center [animation]="'decent'" [htmlTextEnabled]="true"></nac-alert-center>
  </div>

  <header class="masthead">
    <particles [style]="style" [width]="100" [height]="100" [params]="params"></particles>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Castle Panic Online</h1>
        <hr>
        <p>No sign up required, let's play the game. Simple</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="openModal(join)">Create a game session</button>
        </div>
        <div class="btn-group right">
          <button type="button" class="btn btn-primary" (click)="openModal(create_user)">Join a game session</button>
        </div>
      </div>
    </div>
  </header>

  <ng-template #create>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create a game session</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Welcome {{nickName}}! Here's your shareable code: <strong>{{game.gameCode}}</strong></p>
      <p>You can still see the game code once you move to the lobby</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="toNewLobby()" (keyup.enter)="toNewLobby()">Go to Lobby</button>
    </div>
  </ng-template>

  <ng-template #create_user>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create a game session</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>To begin the game, give yourself a nickname: </p>
      <input class="form-control" #nickName (keyup.enter)="createSession(create, nickName.value)">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="createSession(create, nickName.value)">Create New Session</button>
    </div>
  </ng-template>

  <ng-template #join>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Join a game session</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Give yourself a nickname.</p>
      <input class="form-control" #nickName>
      <p></p>
      <p>Then, enter the session code. If you don't have it, ask your friend. </p>
      <input class="form-control" #sessionCode>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="toLobby(sessionCode.value, nickName.value)">Join Lobby</button>
    </div>
  </ng-template>
</div>