<div class='container hand-container'>
    <div class="row card-list">
        <div *ngFor="let card of cards; let i = index" (click)="selectCard(i)" class='card col-xl-2' [ngClass]="{'card-selected': i === selectedCardIndex}">
            <img src="{{ getImageUrl(card.type) }}">
        </div>
    </div>
    <div class='row button-list' *ngIf="!(win || loss) && isMyTurn()">
        <div class='col-md-6'>
            <button type="button" class="btn btn-danger" (click)="sendEndTurn()">End Turn</button>
        </div>
        <div class='col-md-6'>
            <button type="button" class="btn btn-primary" (click)="discard()" *ngIf="timesDiscarded < 2">Discard</button>
        </div>
    </div>
</div>