canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    /*left: 50%;*/
}

.brown-background {
    background-color: rgb(99, 63, 44);
}

.game-col {
    max-width: 989px;
}

.custom-col {
    padding: 0;
}