/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.start-game-mobile {
  display: none;
}
.start-game-button {
  text-align: center;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ddd;
  color: #ddd;
  transition: background-color 0.3s ease-out;
  margin-left: 5%;
  width: 90%;
}
.start-game-button:hover {
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  transition: background-color 0.3s ease-out;
}
@media (max-width: 768px) {
  .start-game-mobile {
    display: inline;
    text-align: center;
  }
  .start-game-text: {
    display: inline;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #888;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/bg_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
  }
}

/* Sidebar navigation */
.sidebar:after {
  background-color: rgba(0,0,0,0.75);
}
.sidebar:hover:after {
  background-color: rgba(0,0,0,0.75);
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main {
  background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/bg_blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder1 {
  display: inline-block;
  /*border-radius: 50%;*/
}
.fake {
  background-color: #f5f5f5;
  color: black;
}
.placeholders h4 {
  margin-bottom: 0;
  color: #ddd;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
  color: #ddd;
}

.custom-page-header {
  border-bottom: 1px solid #bbb;
  color: #ddd;
}
.roles {
  color: #f1f1f1;
}