<html>
    <head>
        <title>Hello World</title>
        <base href="/">
        <link rel = "stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <main></main>
    </body>
</html>